@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">You Rid. We Retrieve.</h1>
    <img src="~/Images/trashCollector.jpg" class="col-sm-6 col-md-8 mainImage" />
</div>
