@model TrashCollectorV2.Models.ViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome @Model.Customer.Name</h1>

<table class="table">
    <tbody>
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="Model.Customer.Id">Account Details</a>
            </td>
            <td>
                <a asp-action="Create" asp-route-id="Model.Customer.Id">Create Pickup Account</a>
            </td>
        </tr>
    </tbody>
</table>
